@import 'nib'

.home-page
  width: 551px
  height: 275px
  margin: 0 auto
  padding: 5px
  margin-bottom: 0.5em
  color: #fff
  background-color: #7fc4d6

  .icon-brunch-logo-napkin
    background-repeat: no-repeat
    width: 256px
    height: 256px
    margin: 0 auto
    transition: background-size 0.2s
    background-size: 100%
    background-image: url('http://brunch.io/images/svg/png/brunch-logo-napkin.png')

input[type=search]
  width 100%

